.control{
    padding: 8px;
}

.letter{
    height: 35px;
    width: 35px;
    font-size: 30px;
    text-align: center;
}

.pannel-heading{
    text-align: right;
}

#reset{
    cursor: pointer;
}

#reset:hover{
   font-size: 1.2em;
}